*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 229, 229);
}

.header-container {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.load-text {
  color:rgb(54, 53, 53);
  margin: 25px;
  text-align: center;
}

.img-container{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 400px;
  height: 400px;
}

.button-dogs{
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(139, 136, 139);
}